<body>
    <h1> Register </h1>
    <form method="POST" action="/register">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        Email: <input type="text" name="email" required><br>
        First Name: <input type="text" name="firstname" required><br>
        Last Name: <input type="text" name="lastname" required><br>
        <input type="submit" value="Register" required>
    </form>
    <br>
    <a href="{{url_for('login')}}"> Already have an account? Login here. </a>
</body>